
/*start menu*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    overflow-x: hidden;
    position: relative;
}
.pac-container{
         margin-top:-90px;
      }


.s5h-menu a:hover, a:focus, a:active {
	outline: none;
    text-decoration: none;
    color: #333333;
	
}

.s5h-header {
    background: #ffffff;
    width: 100%;
    height: 88px;
    border-bottom: 1px #CCCBCB solid;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all linear 0.5s;
}

.s5h-header ul{
   list-style-type: none;
}

    .s5h-header.mini-header {
        height: 44px;
    }

.s5h-logo {
    float: left;
    margin-top: 18px;
}


.s5h-menu {
    float: right;
}

 .s5h-menu li {
        float: left;
    }

.s5h-menu li a {
            display: block;
            height: 88px;
            line-height: 88px;
            padding: 0 15px;
            font-size: 13px;
            text-transform: uppercase;
            color: #7d7d7d;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
            transition: all linear 0.5s;
        }

.s5h-menu li a:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                top: 0;
                background: #ff6600;
                height: 4px;
                -webkit-transition-property: left, right;
                transition-property: left, right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

.s5h-menu li a.active:before,
.s5h-menu li a:hover:before,
.s5h-menu li a:focus:before,
.s5h-menu li a:active:before {
                left: 0;
                right: 0;
            }



.s5h-header .s5h-logo,
.s5h-header .s5h-logo img {
    transition: all linear 0.5s;
}

.mini-header .s5h-menu li a {
    height: 44px;
    line-height: 50px;
}

.mini-header .s5h-logo {
    margin-top: 5px;
}

    .mini-header .s5h-logo img {
        height: 35px;
    }



  
}

@media (max-width: 400px) {
 
}
/*end menu*/

/*start banner*/
.banner{
    background-color: wheat;
    width: 100%;
    height: 535px;
}
/*end banner*/

/*start option*/
.options{
    background-color:white;
    width: 100%;
    height: 300px;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.options .slogan{
    margin-left: 40%;
    font-size: 20px;
    color: #555555;
}

.options span{
    font-weight: bold;
    font-size: 14px;
}

.options ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.options .option{
    text-align: center;
    width: 226px;
    margin: 20px;
}

.options .option span{
    color: #5b5b5b;
}

/*end options*/

/*start description*/
.description{
    background-color: azure;
    width: 100%;
    height: 370px;
    display: flex;
    background-color:white;
}

.description ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.description .dev{
    text-align: center;
    width: 420px;
    margin: 20px;
}

.description .dev .detail{
    margin-top: 20px;
    height: 100px;
    background-color: bisque;
    border-radius: 5%;
}

.description .dev img{
    text-align: center;
    width: 150px;
    margin: 20px;
    border-radius: 100%;
}
/*end description*/

/*start footer*/
.footer{
    background-color:white;
    width:100%;
    height: 200px;
}
/*end footer*/

/*Style Page Dang Tin*/

